<% include ./partials/header%>

<body class="bg">
<% include ./partials/navbar%>

<div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <form id= "definepath" raction="/create" method="post">
            <p id="h2">What is the name of the path you'd like to follow? </p>
            <div>
                <label>.</label>
                <br>
                <input type="text" name="Goal" size="16"  />
            </div>
            <div>
                <input id= "followbutton" class="btn btn-primary" type="submit" value="Follow The Path" />
            </div>
        </form>
    </div>
</div>


<% include ./partials/footer%>